{
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
      "linebreak-style": [
          "error",
          "unix"
      ],
      "quotes": [
          "error",
          "single"
      ],
      "semi": [
          "error",
          "always"
      ]
  },
    "parserOptions": {
      "ecmaVersion": 2017
  },
}
